<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="fastcgi" path="*" verb="*" modules="FastCgiModule" 
            scriptProcessor="C:\Users\30364\AppData\Local\Programs\Python\Python310\python.exe|C:\Users\30364\Desktop\Program\Demo\FlaskDemo\wfastcgi.py" 
            resourceType="Unspecified"
            requireAccess="Script"
             />
        </handlers>
    </system.webServer>
</configuration>
